Flask>=0.10.1
Flask-RESTful==0.3.6
Flask-PluginKit>=2.1.0
MySQL-python>=1.2.3
torndb>=0.3
requests
setproctitle
gevent
gunicorn
enum34
pycrypto
redis==2.10.6
rq==0.9.2
rq-scheduler==0.8.3
rq-dashboard==0.3.12
rq-scheduler-dashboard==0.0.2
psutil